name: Build

permissions:
  contents: read

on: [push, pull_request, workflow_dispatch]

jobs:
  build_library:
    strategy:
      matrix:
        sys:
          - { name: "Ubuntu x64", runner: ubuntu-latest, os: Ubuntu, shell: bash }
          - { name: "Ubuntu ARM", runner: ubuntu-24.04-arm, os: Ubuntu, shell: bash }
          - { name: "Windows x64 MSYS2", runner: windows-latest, os: Windows, shell: "msys2 {0}" }
          - { name: "Windows x64 VS", runner: windows-latest, os: Windows, shell: cmd }
          - { name: "MacOS ARM", runner: macos-latest, os: MacOS, shell: bash }
          - { name: "MacOS x64", runner: macos-15-intel, os: MacOS, shell: bash }

    name: Build on ${{ matrix.sys.name }}
    runs-on: ${{ matrix.sys.runner }}
    defaults:
      run:
        shell: ${{ matrix.sys.shell }}

    steps:
      - name: Install dependencies (Ubuntu)
        if: matrix.sys.os == 'Ubuntu'
        run: |
          sudo apt-get update
          sudo apt-get install meson

      - name: Install dependencies (Mac OS)
        if: matrix.sys.os == 'MacOS'
        run: brew install meson

      - name: Install dependencies (Windows MSYS2)
        if: matrix.sys.os == 'Windows' && startsWith(matrix.sys.shell, 'msys2')
        uses: msys2/setup-msys2@v2
        with:
          msystem: UCRT64
          install: git mingw-w64-ucrt-x86_64-meson mingw-w64-ucrt-x86_64-gcc

      - name: Install dependencies (Windows CMD)
        if: matrix.sys.os == 'Windows' && startsWith(matrix.sys.shell, 'cmd')
        run: python -m pip install meson

      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Configure
        run: meson setup build

      - name: Build
        run: meson compile -v -C build

      - name: Test
        run: meson test -v -C build
